body
{

font-family: 'Source Sans Pro', sans-serif;
}
.blackandwhite {
  filter: grayscale(100%);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centeredbelow {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);


}
h2.person-title {
    min-height: 76px;
}
footer {background-color: black;
        color: white;}

#hometop {
  background: url("http://res.cloudinary.com/joseph0725/image/upload/c_scale,q_48,w_2850/v1590015026/Mirella/photo-1570696557714-01186e96d8c9_b0ahkl.jpg")
}
